{% extends "auctions/layout.html" %}
{% load static %}
{% block body %}
<h3>{{ listing.title }}</h3>
    <div>
        <div>
            {% if active_status %}
                {% if user.is_authenticated and listing.seller == user %}
                    <form method="post" action="{% url 'display_listing' id=listing.id %}">
                        {% csrf_token %}
                        <button type="submit" class="listing-link" style="background-color: rgb(165, 15, 15);color: white;">Close this auction</button>
                    </form>
                {% endif %}
            {% else %}  
                    <p>This listing is closed. The winner is {{ listing.bids.first.bidder }}</p>
            {% endif %}
            <p>{{ listing.description }}</p>
            <img src = {{listing.image_source}} alt="Listing Image" height=200 width="200">
            <h3>Price = {{ listing.price }}</h3>
            {% if user.is_authenticated and active_status %}
            <form method="post" action="{% url 'place_bid' listing.id %}">
                {% csrf_token %}
                <input type="number" name="bid_amount" step="0.01" placeholder="Enter bid amount">
                <input type="submit" value="Place Bid">
            </form>
            {% endif %}

            <div class = "bid">
                {% for bid in listing.bids.all %}
                    <p>{{bid.bidder}} has bid {{bid.offering_price}}</p>
                {% endfor %}
            </div>
            <a href="{% url 'create_comment' listing_id=listing.id %}" class="listing-link" >Crear comentario</a>
            <div class = "comment">
                {% for comment in comments %}
                    <h4>{{comment.commenter}}</h4>
                    <p>{{comment.description}}</p>
                {% endfor %}
            </div>
        </div>
    </div> 
{% endblock %}